python
fastapi
uvicorn
loguru
requests
python-dotenv
substrate-interface
cryptography
eth-hash
eth-account
menmonic
solders
bitcoinlib
scalecodec
pytest
git+https://github.com/opentensor/bittensor-subnet-template